body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: skyblue;
    font-family: sans-serif;

    
  }

  .today{
    color: rgb(25, 184, 233);
    font-family: sans-serif;
  }

  .card {
    background: white;
    color: rgb(25, 184, 233);
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1px;
    text-transform: capitalize;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(25, 184, 233);
  }
  
  
.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(127, 210, 237);
    color: white;
    font-family: sans-serif;
    font-size: 105%;
    width: calc(100% - 100px);
  }

